.page{
  margin: 0;
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  p{
      margin: 0 auto;
      max-width: 350px;
      font-size: .85rem;
      text-align: center;
      display: none;
    }
}
.scroll-top{
  border: none;
  background-color: transparent;
  width: fit-content;
  svg{
    width: 3rem;
    height: auto;
    fill: $color__background-bg-orange;

  }
}
.menu-footer-menu-container{
  ul, ol{
  padding: 1rem 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: $color__background-bg-orange;
  a{
    color: white;
  }
}
}
@media screen and (min-width: $screen_small){
  .scroll-top{
    width: 100%;
    margin: 3rem 0;
    svg{
      width: 4rem;
      height: auto;
    }
  }
}
@media screen and (min-width: $screen_large){
  .footer-navigation{
    background-color: $color__background-bg-orange;
    flex-direction: column-reverse;
    padding: 3rem 0;
    p{
      display: block;
      color: white;
      max-width: 500px;
      padding-top: 2.5rem;
    }
  }
  .scroll-top{
    svg{
      width: 5rem;
      height: auto;
    }
  }
}

