.page-id-118 {
  h1 {
    display: none;
  }
  h2 {
    text-align: center;
  }
  footer {
    display: block;
  }
}

// marketing copy on hero image
.home-hero {
  position: relative;
  background-color: $color__background-bg-orange;
  img {
    width: 70%;
    display: block;
  }
  .marketing-copy {
    position: absolute;
    font-size: calc(3vw);
    color: $color__background-body;
    top: 45%;
    left: 75%;
    right: 5%;
    transform: translateY(-50%);
  }
}

.featured-products {
  margin: 4rem 0;
  h2 {
    text-align: center;
  }
}

.products-link {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 2rem auto 0;
  background-color: $color__background-bg-orange;
  border-radius: 5px;
  width: max-content;
  padding: 1rem;
  a {
    text-decoration: none;
    color: white;
  }
}

.home-order {
  position: relative;
  margin: 4rem 0;
}

.online-link {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem;
  margin: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
  border-radius: 5px;
  a {
    text-decoration: none;
    color: white;
  }
}

// swiper for featured products
.swiper-slide img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.swiper {
  width: 90%;
}

.home-location {
  margin: 1rem;
}

// change map layout on desktop
@media (min-width: $screen_large) {
  .products-link,
  .online-link {
    font-size: 1.6rem;
  }
  .home-location {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    margin: 4rem 2rem;
    .location-text-container {
      margin: 1rem;
      grid-row: 1/1;
      grid-column: 1/2;
    }
    .acf-map {
      grid-row: 1/1;
      grid-column: 2/3;
      height: calc(40vw);
    }
  }
}
