header{
  padding: .5rem;
}
.site-branding{
  img{
    width: 115px;
  }
  p{
    display: none;
  }
}
.site-header{
    position: relative;
}
.main-navigation{ 
  button{
    border:none;
    background-color: transparent;
    margin: 0;
    svg{
      width: 2rem;
      height: auto;
    }
    li.menu-item-type-custom{
      margin: 0 13rem;
    }
  }
  .menu-menu-1-container{
    background-color: $color__background-bg-cream;
    width: 100%;
    right: 0;
    position: absolute;
    bottom: -21.25rem;
    z-index: 10;
    li{
      padding: 1rem 0;
      text-align: center;
      a{
        color: $color__background-bg-orange;
        font-weight: 700;
      }
      svg{
        fill: $color__background-bg-orange;
      }
      :nth-child(5){
        ul{
          // margin: 0 10rem;
          a{
            width: 105px; 
          }
          
        }
      }
    }
  }
}
.main-navigation{
  ul{
    ul{
      transform: translateX(20px);
      a{
        width: 105px;
      }
    }
  }
} 
.sub-menu{
  // padding: 0;
  
}
@media screen and (min-width: $screen_small) {
  .site-branding{
    img{
      width: 135px;
    }
  }
  .main-navigation{
    ul{
      ul{
        transform: translateX(250px);
      }
    }
  } 
}
@media screen and (min-width: $screen_large) {
  .main-navigation{
    .menu-menu-1-container{
    position: inherit;
    display: block;
      ul{
        display: flex;
        justify-content: flex-end;
        ul{
          transform: translateX(-105px);
        }
      }
      li{
        a{
          color: $color__text-input-focus;
        }
        svg{
          fill: $color__text-input-focus;
        }
      }
    }
  }
  .site-branding{
    img{
      width: 155px;
    }
  }
  
}