header{
  padding: .5rem;
}
.site-branding{
  display: flex;
  justify-content: center;
  img{
    width: 95px;
  }
  p{
    display: none;
  }
}
main{
  padding-bottom: 10rem;
}
.site-header{
    position: relative;

}
.main-navigation{ 
  button{
    border:none;
    background-color: transparent;
    // position: absolute;
    bottom: .5rem;
    right: .5rem;
    svg{
      width: 2.5rem;
      height: auto;
    }
  }
  .menu-menu-1-container{
    background-color: $color__background-bg-orange;
    width: 100%;
    position: absolute;
    bottom: -8rem;
    z-index: 10;
  }
}
