header {
  padding: 0.5rem 1rem;
}
.site-branding {
  img {
    width: 115px;
  }
  p {
    display: none;
  }
}
.site-header {
  position: relative;
}
.main-navigation {
  
  ul{
    ul{
      transform: translateX(20px);
    }
  }
  button {
    border: none;
    background-color: transparent;
    margin: 0;
    svg {
      width: 2rem;
      height: auto;
    }
    
  }
  .menu-menu-1-container {
    background-color: $color__background-bg-cream;
    width: 100%;
    right: 0;
    position: absolute;
    bottom: -21.25rem;
    z-index: 10;

    ul.sub-menu{
      li{
        a{
          color: $color__background-bg-orange;
          width: 105px;
        }
        &:hover{
          a{
            color: white;
          }
        }
      }
    }
    li{
      padding: 1rem 1rem;
      text-align: center;
      margin: 0;
      &:hover {
        background-color: $color__background-bg-orange;
        a {
          color: white;
        }
        svg {
          fill: white;
        }
      }
      a {
        color: $color__background-bg-orange;
        font-weight: 700;
      }
      svg {
        fill: $color__background-bg-orange;
      }

    }
  }
}


@media screen and (min-width: $screen_small) {
  .site-branding {
    img {
      width: 135px;
    }
  }
  .main-navigation {
    ul {
      ul {
        transform: translateX(250px);
      }
    }
  }
}
@media screen and (min-width: $screen_large) {

  .main-navigation{
    .menu-menu-1-container{
      position: inherit;
      display: block;
        ul{
          display: flex;
          justify-content: flex-end;
          li{
            a{
              color: $color__text-input-focus;
            }
            svg{
              fill: $color__text-input-focus;
            }
            &:hover{
              background-color: transparent;
              a{
                color: $color__background-bg-orange;
              }
              svg{
                fill:$color__background-bg-orange;
              }
            }
          }
          ul.sub-menu{
            transform: translateX(-80px);
            li{
              a{
                color: $color__text-input-focus;
              }
              &:hover{
                a{
                  color: $color__background-bg-orange;
                }
              }
            }
          }
          }
        }
      }
    }
    .site-branding{
      img{
        width: 155px;
      }
    }
    

