.post-16 {
  margin: 1.5rem;
  .entry-content {
    margin-top: 0;
    .woocommerce-form {
      label {
        display: block;
      }
      p{
        max-width: 300px;
      }
      .form-row {
        margin-bottom: 0;
        .woocommerce-Input {
            width: 100%;
            height: 2.5rem;
        }

        .woocommerce-button {
          margin-top: 2rem;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .form-row:nth-of-type(3) {
        margin-top: 0;
      }
    }
    nav {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      ul {
        padding-left: 0;
      }
    }
  }

  .u-columns{
    width: fit-content;
    margin: 0 auto;
  }
}

@media screen and (min-width: $screen_small) {
  .post-16 {
    .entry-content {
      .woocommerce-form {
        p{
          max-width: 600px;
        }
        .form-row {
          .woocommerce-form__input {
            width: 20px;
            height: auto;
          }
          // input {
          //   width: 100%;
          //   height: auto;
          // }
          .woocommerce-button {
            margin-left: 0;
          }
        }
      }
      nav {
        margin-bottom: 4rem;
        justify-content: left;
      }
    }
  }
}

@media screen and (min-width: $screen_large) {
  .post-16 {
    .entry-content {
      .woocommerce-form {
        .form-row {
          input {
            height: 3rem;
          }
        }
      }
    }
  }
}
