html {
  scroll-behavior: smooth;
}

header.woocommerce-products-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  div.order-online {
    max-width: 700px;
    padding: 1rem 3rem;
  }
  article img {
    width: 100%;
  }
}
.category {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  gap: 2rem;
  max-width: 1200px;
  padding: 0 20px;
  a,
  a:visited {
    color: $color__text-main;
    text-decoration: underline;
  }
  a:hover,
  a:focus {
    opacity: 0.7;
  }
  h2 {
    grid-column: span 1;
    text-align: center;
  }
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    .product_title {
      text-align: center;
      font-weight: 700;
    }
  }
}

.product-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  max-width: 750px;
  gap: 1rem;
  margin: 5rem auto 5rem;
  a{
    &:hover,
    &:focus{
      color: white;
    }
  }
}

a.add_to_cart_button,
a:visited.add_to_cart_button,
.inner-nav-link {
  background-color: $color__background-bg-orange;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
}
@media (min-width: $screen_small) {
  .category {
    grid-template-columns: 1fr 1fr;
    h2 {
      grid-column: span 2;
    }
  }
  header.woocommerce-products-header {
    div.order-online {
      max-width: 550px;
      line-height: 1.6rem;
    }
  }
}
@media (min-width: $screen_large) {
  header.woocommerce-products-header {
    flex-direction: row-reverse;
    justify-content: center;
    img {
      max-width: 450px;
    }
  }
  .category {
    grid-template-columns: repeat(4, 1fr);
    h2 {
      grid-column: span 4;
    }
  }
}
