.page-id-134 {
  h1 {
    text-align: 3rem;
  }
  .jobs-wrapper {
    padding: 1.5rem;
    max-width: 450px;
    margin: 0 auto;

    .button-apply-top {
      display: none;
    }
    img {
      height: 20rem;
      width: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .title-apply {
      display: flex;
      justify-content: space-between;
      button {
        width: fit-content;
        height: fit-content;
        margin-top: 1.3rem;
      }
    }
    #job-form {
      display: none;
    }
  }
}

@media screen and (min-width: $screen_small) {
  .jobs-wrapper {
    max-width: 900px;

    img {
      height: 35rem;
    }
    .button-apply-top {
      display: none;
    }
    .button-apply-bottom {
      display: block;
    }
  }
}
