#post-59 {
  h1 {
    text-align: left;
  }
  img {
    height: 300px;
    object-fit: cover;
  }
}
.catering-main {
  padding: 0 1rem;
  margin: 0 auto;
}
#gform_submit_button_1 {
  background-color: $color__background-bg-orange;
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
  &:hover {
    opacity: 0.7;
  }
}

@media screen and (min-width: $screen_small) {
  #gform_submit_button_1 {
    padding: 0.6rem 2.5rem;
    margin: 2rem auto 0;
  }
  .catering-main {
    padding: 0 7rem;
  }
}

@media screen and (min-width: $screen_large) {
  .catering-main {
    padding: 1.5rem 15rem 0;
  }
}
