.page-id-128{
  main{
    margin: 0 auto;
  }
  li{
    list-style: none;
    margin: 2rem auto;
  }
  .type-product{
    img{
    max-width: 250px;
    }
  }
  .attachment-banner-image{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: middle;
  }
}
.section-product{
  margin: 0 auto;
}
.article-filter{
  text-align: center;
  margin-top: 1rem;
  button{
    background-color: transparent;
    margin:.1rem;
    padding: .5rem .3rem;
    color: rgb(75, 53, 17);
    border: 1px solid;
  }
}
.product-text{
  margin: 2.5rem auto 2.5rem;
}

@media screen and (min-width: $screen_small){
  .page-id-128{
    
    section{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    li{
      margin: 2.5rem;
    } 
  }
  .type-product{
    img{
      width: 280px;
      height: 300px;
    }
  }
  .product-text{
    max-width: 700px;
  }
}
@media screen and (min-width: $screen_large){
  .article-filter{
    button{
      margin:.1rem;
      padding: .5rem 1rem;
    }
  }
  // .product-text{
  //   max-width: 850px;
  // }
}