.page-id-55 {
  main {
    h1 {
      display: none;
    }
  }
}

.about-wrapper {
  max-width: 450px;
  margin: 1.5rem auto;
  padding: 1rem;
  img {
    width: 450px;
    display: flex;
    justify-content: center;
  }
  .about-career-wrapper {
    p {
      margin: 1.5rem 0;
    }
  }
  .about-positions {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 auto;
    background-color: $color__background-bg-orange;
    width: max-content;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    display: flex;
    margin-top: 3rem;
    border-radius: 5px;
    &:hover {
      opacity: 0.7;
    }
  }
}

@media screen and (min-width: $screen_large) {
  .about-wrapper {
    max-width: 900px;
    h2 {
      margin-top: 0;
    }
    img {
      width: 450px;
      object-fit: cover;
      padding-right: 2rem;
    }
    .about-career-wrapper {
      padding-top: 4rem;
    }
    .about-story-wrapper,
    .about-career-wrapper {
      display: flex;
    }
    .header-and-text {
      width: 450px;
    }
    .about-career-wrapper {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
