.page-id-134 {
  h1 {
    text-align: center;
  }
  .jobs-wrapper {
    padding: 1.5rem;
    max-width: 450px;
    margin: 0 auto;
    img {
      height: 20rem;
      width: auto;
      display: block;
      // margin-left: auto;
      // margin-right: auto;
      margin: 1rem auto 3rem;
    }
    
    .button-apply-bottom {
      width: max-content;
      margin-top: 2rem;
      font-size: 1rem;
      font-weight: 700;
      border-radius: 5px;
      padding: .7rem;
    }
    // }
    #job-form {
      display: none;
      input[type="submit"] {
        font-size: 1.2rem;
        font-weight: 700;
        background-color: #f49d32;
        border-radius: 5px;
        width: max-content;
        padding: 0.5rem 1rem;
        color: white;
        border: 0;
      }
    }
  }
}

@media screen and (min-width: $screen_small) {
  .page-id-134 {
    .jobs-wrapper {
      max-width: 800px;

      img {
        height: 35rem;
      }
      .button-apply-bottom {
        display: block;
      }
    }
  }
}
