// .product__preview{
//   img{
//     width: 350px;
//     height: 320px;
//   }
// }
.page-id-128{
  margin: 0 .5rem;
  main{
    margin: 0 auto;
  }
  li{
    list-style: none;
    margin: 2.5rem auto;
  }
  img{
    max-width: 250px;
  }
}
.section-product{
  text-align: center;
  margin: 2.5rem 0;
}
.article-filter{
  margin: 0 auto;
  width: fit-content;
  border: 1px solid;
 
  button{
    background-color: rgb(254, 233, 182);
    margin:.2rem;
    padding: .5rem .3rem;
    color: rgb(75, 53, 17);
    border: none;
  }
}

@media screen and (min-width: 50em){
  .page-id-128{
    margin: 0 5rem;
    section{
      display: flex;
      flex-wrap: wrap;
    }
    li{
      margin: 2.5rem;
    } 
  }
  .type-product{
    img{
      width: 320px;
      height: 300px;
    }
  }
}