.single-product{
  .site-main{
    width: fit-content;
    padding: 0 1rem;
    margin: 0 auto;
  }
  .woocommerce-breadcrumb{
    padding-top: 1rem;
    a{
      color: $color__text-input-focus;
    }
  }
  .woocommerce-product-gallery{
    max-width: 450px;
  }
  .product_title{
    font-size: 1.4rem;
  }
  .cart{
    display: flex;
  }
  .input-text{
    padding: .5rem 0;
    text-align: center;
  }
  .single_add_to_cart_button{
    border:none;
    background-color: $color__background-bg-orange;
    color: white;
    margin-left: .5rem;
  }
  .product_meta,
  .in-stock,
  .wc-tabs-wrapper{
    display: none;
  }
  .related{
    padding-top:13rem;
    >h2{
      font-size: 1.25rem;
      text-align: center;
      padding-bottom: 1.5rem;
    }
    h2{
      font-size: 1.15rem;
    }
  }
  .woocommerce-loop-product__title{
    margin:0;
  }
  .attachment-woocommerce_thumbnail{
    margin: 0;
  }
  .columns-3{
    display:flex;
    flex-wrap: wrap;
    gap: .5rem;
    li{
      max-width: 150px;
      margin: 0 auto;
      
      img{
        margin: 0;
      }
      h2,span,a{
        color: $color__text-input-focus;
      }
    }
  }
}
@media screen and (min-width: $screen_small){
  div .entry-summary{
    display: flex;
    flex-direction: column;
    padding: 2.5rem 2rem; 
  }
  .columns-3{
    margin: 3rem 0;
    li{
      img{
        width: 300px;
        height: auto;
      }
    }
  }
}
